body {
 font-family: Arial, sans-serif;
 background: linear-gradient(135deg, #89CFF0, #105D9C);
 margin: 0;
 padding: 20px;
}
.container {
 max-width: auto;
 margin: 0 auto;
}
h1 {
 text-align: center;
 color: #fff;
 margin-bottom: 30px;
 text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
 font-size: 50px;
}
#championsList {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 gap: 20px;
}
.champion-card {
 background: rgba(255, 255, 255, 0.9);
 border-radius: 12px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.2);
 padding: 15px;
 margin: 30px auto;
 max-width: 400px;
 text-align: center;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.champion-card:hover {
 transform: translateY(-5px);
 box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
.champion-card p {
 margin: 8px 0;
 font-size: 14px;
 color: #333;
}
.champion-card img {
 margin-top: 10px;
 width: 150px;
 height: auto;
 border-radius: 20%;
 border: 3px solid #2771AE;
 box-shadow: 0 0 10px rgba(39,113,174,0.6);
}
.add-section {
    display: flex;
    justify-content: center;
}